# {{ ansible_managed }}

[Unit]
Description=Aptly API
After=network.target

[Service]
User=aptly-api
Group=aptly-api
WorkingDirectory=/var/lib/aptly-api
ExecStart=/usr/bin/aptly api serve -config=/etc/aptly-api.conf -listen=127.0.0.1:8081
Restart=on-failure

[Install]
WantedBy=multi-user.target
